$color-white: #ffffff;
$color-black: #242424;
$color-teal-light: #5c7c89;
$color-teal-dark: #1f4959;
$color-navy: #011425;

$color-gray: #666;
$color-light-gray: #e0e0e0;

.app-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0;
    background-color: $color-teal-dark;
    color: $color-white;
    border-top: 1px solid $color-light-gray;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;

}